:root {
    --bg: white;
    --midle: #eeeeee;
    --text: black;
    --animation-time: 0.3s;
}

.light {
    --bg: white;
    --midle: #eee;
    --text: black;
    --black-select: #222;
    /* scrollbar-colors */
    --scrolbar-thumb: #B3AFB3;
    --scrolbar-thumb-hover: #808080;
    --scrolbar-track: #F0F0F0;
}

.dark {
    --bg: #1f1f1f;
    --midle: #333;
    --text: white;
    --black-select: #DDD;
    /* Scroll colors */
    --scrolbar-thumb: #4C504c;
    --scrolbar-thumb-hover: #8F8F8F;
    --scrolbar-track: #141414;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: var(--animation-time);
}

 ::-webkit-scrollbar-thumb {
    background: var(--scrolbar-thumb);
    border-radius: 0;
    transition: var(--animation-time);
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--scrolbar-thumb-hover);
    transition: var(--animation-time);
}

 ::-webkit-scrollbar-track {
    transition: var(--animation-time);
    background: var(--scrolbar-track);
    border-radius: 0px;
    box-shadow: inset -0.2px 0px 0px 0px var(--scrolbar-track);
}

::-webkit-scrollbar-corner {
    transition: var(--animation-time);
    background-color: var(--scrolbar-track);
}

a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    text-decoration: underline;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.themeBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    border: none;
    background-color: var(--midle);
    color: var(--text);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px var(--midle);
    cursor: pointer;
}

.themeBtn:active {
    animation: btn-anim 1s linear;
}

@keyframes btn-anim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.flex {
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    transition: var(--animation-time);
    flex-direction: column;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    gap: 15px;
    padding: 0 0 55px 0;
}

textarea {
    overflow: auto;
    color: var(--text);
    background-color: var(--midle);
    resize: none;
    width: 400px;
    /* height: 400px; */
    font-size: 15px;
    border: 1px solid #767676;
    transition: var(--animation-time);
    padding: 10px;
}

#output {
    padding: 5px 25px;
    /* background-color: var(--midle); */
    width: 374px;
    /* height: 412px; */
    /* max-height: 412px; */
    overflow: auto;
    border: 1px solid #767676;
    transition: var(--animation-time);
}

footer {
    background-color: var(--midle);
    color: var(--text);
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

@media (max-width: 840px) {
    textarea {
        width: 91vw;
        height: 400px;
    }
    .main {
        align-items: center;
    }
    #output {
        width: 90vw;
        height: 412px;
        max-height: 412px;
    }
}